@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Tilt Neon", sans-serif;
}



body {
  --sb-track-color: #151f23;
  --sb-thumb-color: #F2522E;
  --sb-size: 6px;

  scrollbar-color: var(--sb-thumb-color) 
                   var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size) 
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;  
}